.footer-link {
  color: #11999e;

}

.cloud-bottom {
  position: absolute;
}

.cloud-top {
  position: relative;
  left: 350px;
  top: 50px;
}

.top-container {
  margin: 0;
  background-color: #e4f9f5;
  padding: 50px
}

.middle-container {
margin: 0 auto 0 auto;
width: 50%;
text-align: center;
}

p{
  font-weight: bold;
}

.bottom-container {
  margin: 0 auto 0 auto;
  width: 50%;
  text-align: center;
  background-color: #66bfbf

}

.web {
  text-decoration: underline;
}

.ja {
  line-height: 2;
  font-weight: normal;
  margin-top: 0;
  color: #66bfbf;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  position: relative;
}

h1 {
  color: #66bfbf;
  margin-bottom: 0;
  padding-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem
}

h3 {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
}

.webimg {
width: 20%;
float:left;
margin-right: 50px;
}

.mangoimg {
  width: 20%;
  float:right;
  margin-left:  30px;
}
.mountain{
  margin-bottom: 0;
}
.skills{
  margin: 0 auto 0 auto;
  width: 80%
}
.skill-row{
  margin: 100px auto 100px auto;
  text-align: left;
}
hr
{
  border-style: none;
  border-top-style: dotted;
  border-color: #e8e4e1;
  border-width: 10px;
  width: 20%
}
.disc2{
  padding-bottom: 20px;
}
.img1{
  padding-top: 20px;
}
.BUTTON{
  background-color: blue;
}
.BUTTON_GHP {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 16px;
   font-weight: 400;
   padding: 12px;
   box-shadow: 1px 1px 20px 0px #000000;
   -webkit-box-shadow: 1px 1px 20px 0px #000000;
   -moz-box-shadow: 1px 1px 20px 0px #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_GHP:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
